.app-container {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
}
.emojis-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0px;
  padding: 10px;
}
